{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-importUploadPanel">
    <section class="wait-box coral-Modal-backdrop">
        <div class="coral-Wait--Large coral-Wait--center"></div>
   </section>
  <div id="defaultAlert" style="display: none;">
    <button type="button" class="coral-MinimalButton coral-Alert-closeButton" title="Close" data-dismiss="alert">
    <i class="coral-Icon coral-Icon--sizeXS coral-Icon--close coral-MinimalButton-icon"></i>
    </button>
    <i class="coral-Alert-typeIcon coral-Icon coral-Icon--sizeS coral-Icon--alert"></i>
    <strong class='coral-Alert-title'>{{i18n "Error"}}</strong>
    <div class='coral-Alert-message'>{{i18n "error"}}</div>
  </div>
  <form class="scf-js-file-upload-form coral-Form coral-Form--vertical">
    <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--alignRight">
      <section class="coral-Form-fieldset">
         <label class="coral-Form-fieldlabel">Select Content Type:</label>
          <input type="radio" class="coral-Radio" name="entity" value="User" checked> User
  			<input type="radio" class="coral-Radio" name="entity" value="UGC" > UGC</br>
            <span class="coral-FileUpload" data-init="fileupload">
            <span class="coral-FileUpload-trigger coral-Button">

              <input class="coral-FileUpload-input"
                     type="file"
                     title="Select File"
                     name="migrationFile"
                     data-upload-url="etc/migration/uploadFile"
                     data-usehtml5="true"
                     data-size-limit="100000000"
                     data-mime-types='["zip"]'>
            </span>
        </span>
        <input class="coral-Form-field coral-Textfield" id="basePath" type="text" placeholder="Type a base path here to automatically import everything">
        <button class="coral-Form-field coral-Button coral-Button--primary">{{i18n "Upload"}}</button>
      </section>
    </div>
  </form>
  <form class="scf-js-file-selection-form coral-Form coral-Form--vertical" style="display: none;">
  <section class="coral-Form-fieldset">
          <label class="coral-Form-fieldlabel">{{i18n "Select file for import"}}</label>
      <span class="scf-js-file-selection-box">
      <button type="button" class="coral-Select-button coral-MinimalButton">
          <span class="coral-Select-button-text"></span>
        </button>
        <select class="coral-Select-select">
        </select>
      </span>
      </span>
      </section>
      <section class="coral-Form-fieldset">
        <label class="coral-Form-fieldlabel">{{i18n "Path to UGC Component Node"}}</label>
        <input class="coral-Form-field coral-Textfield" name="path" type="text">
     </section>
      <div class="coral-Form-fieldwrapper coral-Form-fieldwrapper--alignRight">
        <button class="coral-Form-field coral-Button coral-Button--primary">{{i18n "Import"}}</button>
        <button class="coral-Form-field coral-Button coral-Button delete-button">{{i18n "Delete"}}</button>
      </div>
    </form>
</div>
<div id="myModal" class="coral-Modal">
  <div class="coral-Modal-header">
    <i class="coral-Modal-typeIcon coral-Icon coral-Icon--sizeS"></i>
    <h2 class="coral-Modal-title coral-Heading coral-Heading--2">{{i18n "Confirm"}}</h2>
    <button type="button" class="coral-MinimalButton coral-Modal-closeButton" title="Close" data-dismiss="modal">
      <i class="coral-Icon coral-Icon--sizeXS coral-Icon--close coral-MinimalButton-icon "></i>
    </button>
  </div>
  <div class="coral-Modal-body">
    <p>{{i18n "Are you sure you want to delete this file?"}}</p>
  </div>
  <div class="coral-Modal-footer">
    <button type="button" class="coral-Button" data-dismiss="modal">{{i18n "Cancel"}}</button>
    <button type="button" class="coral-Button coral-Button--primary" data-dismiss="modal">{{i18n "Yes"}}</button>
  </div>
</div>
